In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests

import os
from dotenv import load_dotenv

In [2]:
# Connection DB
load_dotenv('../.env')

DATABASE_PASSWORD = os.environ.get("DATABASE_PASSWORD")
DATABASE_PASSWORD

connectionDB = f'mysql+pymysql://ironhack_user:{DATABASE_PASSWORD}@173.201.189.217/BiciMAD'

engineDB = create_engine(connectionDB)
inspector_db = inspect(engineDB)

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'ironhack_user'@'din-137-251-231-77.ipcom.comunitel.net' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [3]:
# Tables DB
inspector_db.get_table_names()

['bicimad_stations', 'bicipark_stations']

In [4]:
query_1 = '''
SELECT * FROM bicimad_stations
'''

df_1 = pd.read_sql_query(query_1, engineDB)
df_1

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [25]:
df_bicimad = pd.read_csv("../../datasets/bicimad_stations.csv")
df_bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]"
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]"
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]"
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]"
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]"
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]"
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]"
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]"
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]"

In [17]:
df_bicimad.dtypes

id                       int64
name                    object
light                    int64
number                  object
address                 object
activate                 int64
no_available             int64
total_bases              int64
dock_bikes               int64
free_bases               int64
reservations_count       int64
geometry.type           object
geometry.coordinates    object
dtype: object

In [18]:
coordinates = df_bicimad["geometry.coordinates"][0].strip('][').split(', ')
longitud = float(coordinates[0])
latitud = float(coordinates[1])
print(f"longitud: {longitud} - latitud: {latitud}")

longitud: -3.7018341 - latitud: 40.4172137

In [19]:
def set_longitud(coordinates):
    longitud = float(coordinates.strip('][').split(', ')[0])
    return longitud

In [20]:
def set_latitud(coordinates):
    latitud = float(coordinates.strip('][').split(', ')[1])
    return latitud

In [ ]:
def set_location(df):
    df[['longitud','latitud']] = df['geometry.coordinates'].str.strip('][').str.split(', ', expand=True)
    return df

In [23]:
df_bicimad["longitud"] = df_bicimad.apply(lambda df: set_longitud(df['geometry.coordinates']), axis=1)
df_bicimad["latitud"] = df_bicimad.apply(lambda df: set_latitud(df['geometry.coordinates']), axis=1)
df_bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.729970,40.438960
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.726990,40.443750
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.726930,40.443420
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.727295,40.448332
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.729370,40.451090

In [52]:
df_bicimad = pd.read_csv("../../datasets/bicimad_stations.csv")
df_bicimad[['longitud','latitud']] = df_bicimad['geometry.coordinates'].str.strip('][').str.split(', ', expand=True)
df_bicimad.head(3)

#df_bicimad['geometry.coordinates'].str.strip('][').str.split(', ')

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886

In [54]:
def set_location(df):
    df[['longitud','latitud']] = df['geometry.coordinates'].str.strip('][').str.split(', ', expand=True)
    return df

In [55]:
df_bicimad = pd.read_csv("../../datasets/bicimad_stations.csv")

In [57]:
df_bicimad = set_location(df_bicimad)
df_bicimad.head(3)

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886

In [58]:
from shapely.geometry import Point
import geopandas as gpd   # conda install -c conda-forge geopandas

In [59]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [65]:
def set_distance(df, lon_ori, lat_ori):
    df['distance'] = df.apply(lambda d: distance_meters(float(d['latitud']), float(d['longitud']), lat_ori, lon_ori), axis=1 )
    return df

In [67]:
df_bicimad = set_distance(df_bicimad, 40.41704834412296, -3.7055288844865233)
df_bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud,distance
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137,7.254727e+06
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562,7.254715e+06
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886,7.255310e+06
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937,7.256130e+06
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524,7.255643e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.72997,40.43896,7.258676e+06
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.72699,40.44375,7.258792e+06
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.72693,40.44342,7.258762e+06
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.7272945,40.4483322,7.259162e+06
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.72937,40.45109,7.259541e+06

In [70]:
df_bicimad[df_bicimad["distance"] == min(df_bicimad["distance"])]

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud,distance
223,229,221 - Pavones,1,221,Calle Hacienda de Pavones nº 342,1,0,24,16,6,0,Point,"[-3.634587, 40.400368]",-3.634587,40.400368,7.247938e+06