In [1]:
import requests
import json
import pandas as pd


DATASET_CULTURAL = "https://datos.madrid.es/egob/catalogo/200304-0-centros-culturales.json" # "Centros Culturales Municipales (incluyen Socioculturales y Juveniles)"
DATASET_MUSEUM = "https://datos.madrid.es/egob/catalogo/201132-0-museos.json" # "Museos de la ciudad de Madrid"
DATASET_PARKS = "https://datos.madrid.es/egob/catalogo/200761-0-parques-jardines.json" # "Principales parques y jardines municipales"


# get dataset from URL API Ayuntamiento Madrid
def get_dataset(url, type_ds):
    # get response of url and convert to json
    response = requests.get(url)
    dataset_json = response.json()
    dataset = [dict(d, type_place=type_ds) for d in [dat for dat in dataset_json["@graph"]]]
    return dataset

# join n datasets
def join_datasets(*args):
    # join datasets (list of dict)
    dt_join = []
    for d in args:
        dt_join += d
    return dt_join

# load selected datasets
def load_datasets():
    # get and join datasets
    ds = join_datasets(get_dataset(DATASET_CULTURAL, "Centros Culturales Municipales (incluyen Socioculturales y Juveniles)"), 
                       get_dataset(DATASET_MUSEUM, "Museos de la ciudad de Madrid"))
    return ds

# get places data
def get_all_places():
    # load datasets
    places_dataset = load_datasets()
    # normalize and get needed columns
    df = pd.json_normalize(places_dataset)[["title", 
                                            "type_place", 
                                            "address.street-address", 
                                            "location.latitude", 
                                            "location.longitude"]].rename(columns={"address.street-address": "address_place",
                                                                                   "location.latitude": "lat_place",
                                                                                   "location.longitude": "lon_place"})
    # remove rows with NA values
    df = df.dropna()
    return df

In [3]:
df_places = get_all_places()
df_places

,title,type_place,address_place,lat_place,lon_place
0,Auditorio Carmen Laforet (Ciudad Lineal),Centros Culturales Municipales (incluyen Socio...,CALLE JAZMIN 46,40.479608,-3.665799
1,Auditorio al aire libre. Parque del Calero,Centros Culturales Municipales (incluyen Socio...,CALLE JOSE DEL HIERRO 3,40.436300,-3.650410
2,Auditorio y sala de exposiciones Paco de Lucía...,Centros Culturales Municipales (incluyen Socio...,AVENIDA LAS AGUILAS 2 A,40.385132,-3.761912
3,Centro Comunitario Casino de la Reina,Centros Culturales Municipales (incluyen Socio...,CALLE CASINO 3,40.406793,-3.704609
4,Centro Cultural - Centro Socio Cultural Villa ...,Centros Culturales Municipales (incluyen Socio...,CALLE BOTICA 7 y 10,40.473402,-3.578523
...,...,...,...,...,...
178,Real Monasterio de las Descalzas Reales,Museos de la ciudad de Madrid,PLAZA DESCALZAS 3,40.418233,-3.706213
179,Templo de Debod,Museos de la ciudad de Madrid,CALLE FERRAZ 1,40.424251,-3.716532
180,The Robot Museum (Museo del Robot),Museos de la ciudad de Madrid,CALLE SERRANO 61 PLANTA BAJA,40.432215,-3.686955
181,Yacimiento paleontológico. Estación de Metro C...,Museos de la ciudad de Madrid,CALLE VIA CARPETANA 141,40.392541,-3.741303
182,Zapadores Ciudad del Arte,Museos de la ciudad de Madrid,CALLE ANTONIO DE CABEZON 70,40.495728,-3.681812

In [6]:
import pandas as pd
import pdfkit as pdf

In [7]:
df_places.to_html("./result_df.html")

In [8]:
pdf.from_file("./result_df.html", "./result_df.pdf")

True

In [12]:
df_places.to_excel("./results1.xlsx", sheet_name="BiciMAD", index=False)

In [15]:
from UliPlot.XLSX import auto_adjust_xlsx_column_width

In [19]:
with pd.ExcelWriter("./results2.xlsx") as writer:
    df_places.to_excel(writer, sheet_name="bici", index= False)
    auto_adjust_xlsx_column_width(df_places, writer, sheet_name="bici", margin=0)

In [25]:
import webbrowser
new = 2 # open in a new tab, if possible

url = "http://docs.python.org/library/webbrowser.html"
webbrowser.open(url,new=new)

True

In [30]:
import webbrowser
import os 

new = 2 # open in a new tab, if possible

#url = "file:///home/elvira/workspace/biciMAD_project_m1/results/BiciMAD_nearest.html"
my_file = os.path.abspath("../results/BiciMAD_nearest.html")
print(my_file)

url = f"file://{my_file}"
webbrowser.open(url,new=new)

/home/elvira/workspace/biciMAD_project_m1/results/BiciMAD_nearest.html

True