In [90]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests
import os
from dotenv import load_dotenv


BICIMAD_STATIONS_CSV = "../../datasets/bicimad_stations.csv"

# connect DB
def connect_DB():
    load_dotenv("../.env")
    DATABASE_PASSWORD = os.environ.get("DATABASE_PASSWORD")
    # DB mysql
    connectionDB = f"mysql+pymysql://ironhack_user:{DATABASE_PASSWORD}@173.201.189.217/BiciMAD"
    engineDB = create_engine(connectionDB)
    return engineDB

# get data DB
def get_db_stations(engineDB):
    # query bicimad_stations
    query = '''
    SELECT * 
    FROM bicimad_stations 
    '''
    df = pd.read_sql_query(query, engineDB)
    return df

# get data csv
def get_csv_stations(file):
    df = pd.DataFrame([])
    # if file exists and not empty
    if os.path.isfile(file) and os.path.getsize(file) > 0:
        df = pd.read_csv(file)
    return df

# login API EMT and get token
def get_token():
    accessToken = ""
    # get clientid and passkey to connect
    load_dotenv("../.env")
    clientid = os.environ.get("API_CLIENTID")
    passkey = os.environ.get("API_PASSKEY")
    # url and header
    url = "https://openapi.emtmadrid.es/v1/mobilitylabs/user/login/"
    header = {'X-ClientId': clientid,
              'passKey': passkey}
    # call url API get token
    response = requests.get(url, headers=header)
    # if response is ok
    if response.status_code == 200:
        # get token
        response_json = response.json()
        if (response_json["code"] == "01"):
            accessToken = response_json["data"][0]["accessToken"]
    return accessToken
    
# get stations
def get_stations_EMT(token):
    df = pd.DataFrame([])
    # url and header 
    url = "https://openapi.emtmadrid.es/v1/transport/bicimad/stations/"
    header = {'accessToken': token}
    # call url API get stations
    response = requests.get(url, headers=header)
    if response.status_code == 200:
        stations_data = response.json()["data"]
        df = pd.json_normalize(stations_data)
    return df
        
# get data api
def get_api_stations():
    df = pd.DataFrame([])
    # get token
    accessToken = get_token()
    if accessToken != "":
        #get stations
        df = get_stations_EMT(accessToken)
        print("--------------------------------------> get stations api")
    return df

# get lon list location (first position)
def get_lon(location):
    return location[0]

# get lat list location (second position)
def get_lat(location):
    return location[1]

# set longitud and latitud from coordinates
def set_location(df, origin):
    if origin == "API":
        df["lon_bici"] = df_api.apply(lambda d: get_lon(d["geometry.coordinates"]), axis=1)
        df["lat_bici"] = df_api.apply(lambda d: get_lat(d["geometry.coordinates"]), axis=1)
    else:
        df[["lon_bici","lat_bici"]] = df["geometry.coordinates"].str.strip("][").str.split(", ", expand=True)
        df.lon_bici = df.lon_bici.astype(float).fillna(0.0)
        df.lat_bici = df.lat_bici.astype(float).fillna(0.0)
    return df

# get df bicimad
def get_bicimad_data(origin):
    # if origin bicimad is cvs file
    if origin == "CSV":
        df = get_csv_stations(BICIMAD_STATIONS_CSV)
    # if origin bicimad is db
    elif origin == "DB":
        engineMySQL = connect_DB()
        df = get_db_stations(engineMySQL)
    elif origin == "API":
        df = get_api_stations()
    # if df not empty
    if not df.empty:
        df = set_location(df, origin)
    return df

# get filtered bicimad stations take/leave bici and activate/available
def get_filtered_bicimad_data(option):
    # get bicimad 
    # from csv -> at home
    # from DB -> at ironhack
    # from API -> anywhere ¿???
    origin = "API"
    if origin == "CSV":
        print("-------------------------------------------------> vamos por CSV...")
        df = get_bicimad_data("CSV")
    elif origin == "DB":
        print("-------------------------------------------------> vamos por DB...")
        df = get_bicimad_data("DB")
    elif origin == "API":
        print("-------------------------------------------------> vamos por API...")
        df = get_bicimad_data("API")
    if not df.empty:
        # if option is take a bike, should be activate and available station and free bikes
        if option == "TAKE":
            mask = (df["activate"] == 1) & (df["no_available"] == 0) & ((df["dock_bikes"] - df["reservations_count"]) > 0)
            df_bici_stations = df[mask]
        # if option is leave a bike, should be activate and available station and free bases
        elif option == "LEAVE":
            mask = (df["activate"] == 1) & (df["no_available"] == 0) & (df["free_bases"] > 0)
            df_bici_stations = df[mask]
        # if no option, should be activate and available station
        else:
            mask = (df["activate"] == 1) & (df["no_available"] == 0)
            df_bici_stations = df[mask]
    else:
        df_bici_stations = pd.DataFrame([])
    return df_bici_stations

In [91]:
df_csv = get_bicimad_data("CSV")
df_csv.head(1)

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214

In [92]:
df_api = get_bicimad_data("API")
df_api.head(1)

--------------------------------------> get stations api

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici
0,1,1a - Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,9,17,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214

In [36]:
print(type(df_csv["geometry.coordinates"][0]))
df_csv["geometry.coordinates"][0]

<class 'str'>

'[-3.7018341, 40.4172137]'

In [37]:
print(type(df_api["geometry.coordinates"][0]))
df_api["geometry.coordinates"][0]

<class 'list'>

[-3.7018341, 40.4172137]

In [64]:
df_csv[["lon_bici","lat_bici"]] = df_csv["geometry.coordinates"].str.strip("][").str.split(", ", expand=True)
df_csv.head(1)

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137

In [65]:
df_csv["geometry.coordinates"][0]

'[-3.7018341, 40.4172137]'

In [66]:
df_api["geometry.coordinates"][0]

[-3.7018341, 40.4172137]

In [81]:
def get_lon(location):
    return location[0]

def get_lat(location):
    return location[1]

In [82]:
df_api["lon_bici"] = df_api.apply(lambda d: get_lon(d['geometry.coordinates']), axis=1)
df_api["lat_bici"] = df_api.apply(lambda d: get_lat(d['geometry.coordinates']), axis=1)
df_api

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici
0,1,1a - Puerta del Sol A,2,1a,Puerta del Sol nº 1,1,0,30,11,16,0,Point,"[-3.7018341, 40.4172137]",-3.701834,40.417214
1,2,1b - Puerta del Sol B,1,1b,Puerta del Sol nº 1,1,0,30,24,5,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701603,40.417313
2,3,2 - Miguel Moya,2,2,Calle Miguel Moya nº 1,1,0,24,12,9,0,Point,"[-3.7058415, 40.4205886]",-3.705842,40.420589
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,8,10,0,Point,"[-3.7069171, 40.4302937]",-3.706917,40.430294
4,5,4 - Malasaña,0,4,Calle Manuela Malasaña nº 5,1,0,24,5,15,0,Point,"[-3.7025875, 40.4285524]",-3.702587,40.428552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,2,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,11,13,0,Point,"[-3.72997, 40.43896]",-3.729970,40.438960
260,266,258 - Ciudad Universitaria 1,0,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,3,21,0,Point,"[-3.72699, 40.44375]",-3.726990,40.443750
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,11,13,0,Point,"[-3.72693, 40.44342]",-3.726930,40.443420
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,13,11,0,Point,"[-3.7272945, 40.4483322]",-3.727295,40.448332
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,10,13,0,Point,"[-3.72937, 40.45109]",-3.729370,40.451090

## API EMT

In [ ]:
import requests
import json
import pandas as pd

In [8]:
url = "https://openapi.emtmadrid.es/v1/hello/"
    
response = requests.get(url)
response
response.json()

{'APIVersion': {'description': 'OPENAPI for public access',
  'version': '00107'},
 'SourceCli': '62.83.58.237',
 'SourceIP': '62.83.58.237',
 'code': '00',
 'developerPortal': 'https://mobilitylabs.emtmadrid.es',
 'instant': '2022-07-20T12:52:17.229481',
 'message': 'Hello, here openapi.emtmadrid.es, I am running Ok and I feel good',
 'morehelp': 'https://gitlab.com/mobilitylabsmadrid',
 'poweredBy': 'Empresa Municipal de Transportes de Madrid, S.A.',
 'versions': ['v1', 'build 06', 'v2', 'build 10']}

In [9]:
clientid = '0ac9bb22-3b65-453f-8419-77b8b081b026'
passkey = '5C8B6F56EA97989CCBB2546962804B4013B365A64267BD835522901392B635A62B3CA1288C4B4022552639129E1DA41BEB92BA92FC51D8961FD44D1AC6221F2B'

header = {'X-ClientId': clientid,
          'passKey': passkey}

url = "https://openapi.emtmadrid.es/v1/mobilitylabs/user/login/"
    
response = requests.get(url, headers=header)
response
response.json()

{'code': '01',
 'description': 'Token 9b2e93a8-0808-11ed-9271-02dc468048a9 extend  into control-cache Data recovered  OK, (lapsed: 49 millsecs)',
 'datetime': '2022-07-20T12:52:19.033247',
 'data': [{'nameApp': 'Elvira',
   'levelApp': 0,
   'updatedAt': '2022-07-18T19:20:31.160000',
   'userName': 'elv.estevez@gmail.com',
   'lastUpdate': {'$date': 1658314058323},
   'idUser': '27B2CF11-8862-4F58-B827-E387FA0B7EDA',
   'priv': 'U',
   'tokenSecExpiration': 86400,
   'email': 'elv.estevez@gmail.com',
   'tokenDteExpiration': {'$date': 1658407658323},
   'flagAdvise': False,
   'accessToken': '9b2e93a8-0808-11ed-9271-02dc468048a9',
   'apiCounter': {'current': 32,
    'dailyUse': 250000,
    'owner': 0,
    'licenceUse': 'Please mention EMT Madrid MobilityLabs as data source. Thank you and enjoy!'},
   'username': 'elv.estevez@gmail.com'}]}

In [10]:
accessToken = '9b2e93a8-0808-11ed-9271-02dc468048a9'

header = {'accessToken': accessToken}

url = "https://openapi.emtmadrid.es/v1/transport/bicimad/stations/"
    
response = requests.get(url, headers=header)
response
station_json = response.json()
station_data = station_json["data"]
print(len(station_data))

264

In [ ]:
station_data[0]

In [ ]:
df.head(1)

In [ ]:
df_data = pd.DataFrame(station_data)
print(len(df_data))
df_data.head(1)

In [ ]:
df_data_norm = pd.json_normalize(station_data)
df_data_norm

In [ ]:
clientid = '0ac9bb22-3b65-453f-8419-77b8b081b026'
passkey = '5C8B6F56EA97989CCBB2546962804B4013B365A64267BD835522901392B635A62B3CA1288C4B4022552639129E1DA41BEB92BA92FC51D8961FD44D1AC6221F2B'

url = "https://openapi.emtmadrid.es/v1/mobilitylabs/user/login/"
header = {'X-ClientId': clientid,
          'passKey': passkey}
    
response = requests.get(url, headers=header)
if response.status_code == 200:
    accessToken = response.json()["data"][0]["accessToken"]
    
    url = "https://openapi.emtmadrid.es/v1/transport/bicimad/stations/"
    header = {'accessToken': accessToken}
    
    response = requests.get(url, headers=header)
    if response.status_code == 200:
        station_json = response.json()
        station_data = station_json["data"]
        print(len(station_data))
        df_data_norm = pd.json_normalize(station_data)

df_data_norm

In [ ]:
df_data_norm.dtypes

In [ ]:
df_new = df_data_norm["geometry.coordinates"].astype("str")

In [ ]:
type(df_new[0])

In [ ]:
type(df_data_norm["geometry.coordinates"][0])

In [95]:
import random



path_file = "../data/results/"
pattern_file = "info"

In [106]:
def get_name_file_csv():
    ran = random.randrange(1000)
    name_f = path_file + pattern_file + "_" + str(ran) + ".csv"
    return name_f

In [119]:
name = get_name_file_csv()
name

'../data/results/info_765.csv'