In [18]:
###
# module geo_calculations.py
###
# functions calculate distance

from shapely.geometry import Point
import geopandas as gpd

 
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [2]:
###
# module api_mad.py
###
# functions get places

import requests
import json
import pandas as pd

DATASET_CULTURAL = "https://datos.madrid.es/egob/catalogo/200304-0-centros-culturales.json"
DATASET_MUSEUM = "https://datos.madrid.es/egob/catalogo/201132-0-museos.json"


# get dataset from URL API Ayuntamiento Madrid
def get_dataset(url, type_ds):
    # get response of url and convert to json
    response = requests.get(url)
    dataset_json = response.json()
    dataset = [dict(d, type_place=type_ds) for d in [dat for dat in dataset_json["@graph"]]]
    return dataset

# join two datasets (both are list of json)
def join_datasets(dt1, dt2):
    # join datasets (list of dict)
    dt_join = dt1 + dt2
    return dt_join

# load selected datasets
def load_datasets():
    ds = join_datasets(get_dataset(DATASET_CULTURAL, "Centros Culturales Municipales (incluyen Socioculturales y Juveniles)"), 
                       get_dataset(DATASET_MUSEUM, "Museos de la ciudad de Madrid"))
    return ds

# create df selected place 
def set_selected_place(place):
    place_json = {}
    # get name 
    place_json["name"] = place["title"]
    # get type_place 
    place_json["type_place"] = place["type_place"]
    # get address 
    place_json["address"] = place["address"]["street-address"]
    # get latitude place 
    place_json["latitude"] = place["location"]["latitude"]
    # get longitude place 
    place_json["longitude"] = place["location"]["longitude"]
    return place_json

# get place for name. 
# if name is empty, return all places
# if name isn't empty, return places found for this name
def get_place(name, data):
    if name == "":
        # get all places
        list_json = [set_selected_place(d) for d in data]
        # create cleaned dataframe for places
        df = pd.DataFrame(list_json)
    else:
        # get place found 
        place_list = [d for d in data if d["title"].upper() == name.upper()]
        if len(place_list) == 0:
            df = pd.DataFrame([])
        else:
            list_json = [set_selected_place(d) for d in place_list]
            # create cleaned dataframe for places found
            df = pd.DataFrame(list_json)
    return df

####################

from fuzzywuzzy import fuzz
from fuzzywuzzy import process


# load datasets
places_dataset = load_datasets()

# get place
#df_my_place = get_place(my_interest_place, places_dataset)
#df_my_place

#df_my_place = process.extract(my_interest_place, places_dataset)
#for i in df_my_place:
#    print(f"{i[0]['title']} - {i[1]}")



my_interest_place = "Templo de Debod"

df_places_dataset = pd.DataFrame(places_dataset)
#list_titles = df_places_dataset["title"].tolist()
#print(type(list_titles))
#list_titles



#list_titles =["El templo de debod", "museo ratón pérez", "museo sorolla", "templo romano", "el prado"]
#type(list_titles)

df_places_dataset

my_interest_place = "debod"


list_titles =df_places_dataset["title"].tolist()
#list_titles =[]

matched_title = process.extractOne(my_interest_place, list_titles)
type(matched_title)
if matched_title != None:
    df_selected_places = df_places_dataset[df_places_dataset["title"] == matched_title[0]]
else:
    df_selected_places = pd.DataFrame([])
df_selected_places

,@id,@type,id,title,relation,address,location,organization,type_place
179,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,20605,Templo de Debod,http://www.madrid.es/sites/v/index.jsp?vgnextc...,{'district': {'@id': 'https://datos.madrid.es/...,"{'latitude': 40.42425096551599, 'longitude': -...",{'organization-desc': 'Templo egipcio dedicado...,Museos de la ciudad de Madrid

In [3]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd

# create df selected place 
def set_element_place(place):
    place_json = {}
    # get name 
    place_json["title"] = place["title"]
    # get type_place 
    place_json["type_place"] = place["type_place"]
    # get address 
    place_json["address"] = place["address"]["street-address"]
    # get latitude place 
    place_json["latitude"] = place["location"]["latitude"]
    # get longitude place 
    place_json["longitude"] = place["location"]["longitude"]
    return place_json

def get_places_data():
    # load datasets
    places_dataset = load_datasets()
    # create cleaned dataframe for places
    list_json = [set_element_place(d) for d in places_dataset]
    df = pd.DataFrame(list_json)
    return df

def get_match(description, element, df):
    # get list elements
    list_titles = df[element].tolist()
    # match title
    matched_title = process.extractOne(description, list_titles)
    # get df for match title
    if matched_title != None:
        df_selected = df[df[element] == matched_title[0]]
    else:
        df_selected = pd.DataFrame([])
    return df_selected

def get_place_by_name(name, df):
    if name != "":
        df_selected = get_match(name, "title", df)
        return df_selected
    else:
        return df
    
interest_place = "ratón"
df_places = get_places_data()
df_my_place = get_place_by_name(interest_place, df_places)
list(df_my_place["title"])[0]

'Casita - Museo del Ratón Pérez'

In [6]:
df_places = get_places_data()
df_my_place = get_place_by_name(interest_place, df_places)
df_my_place

,title,type_place,address,latitude,longitude
115,Casita - Museo del Ratón Pérez,Museos de la ciudad de Madrid,CALLE ARENAL 8 PLANTA 1.ª,40.417048,-3.705529

In [13]:
df_my_place.iloc[0]["title"]

'Casita - Museo del Ratón Pérez'

In [81]:
df_my_place = process.extractOne(my_interest_place, df_places_dataset)
df_my_place

(0               Auditorio Carmen Laforet (Ciudad Lineal)
 1             Auditorio al aire libre. Parque del Calero
 2      Auditorio y sala de exposiciones Paco de Lucía...
 3                  Centro Comunitario Casino de la Reina
 4      Centro Cultural - Centro Socio Cultural Villa ...
                              ...
 178              Real Monasterio de las Descalzas Reales
 179                                      Templo de Debod
 180                   The Robot Museum (Museo del Robot)
 181    Yacimiento paleontológico. Estación de Metro C...
 182                            Zapadores Ciudad del Arte
 Name: title, Length: 183, dtype: object,
 60,
 'title')

In [80]:
df_my_place = process.extractOne(my_interest_place, list_titles)
df_my_place

('Templo de Debod', 100)

In [23]:
###
# module db_bicimad.py
###
# functions get bicimad

import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import inspect
import pandas as pd
import requests
import os
from dotenv import load_dotenv


# connect DB
def connect_DB():
    load_dotenv('../.env')
    DATABASE_PASSWORD = os.environ.get("DATABASE_PASSWORD")
    DATABASE_PASSWORD
    connectionDB = f'mysql+pymysql://ironhack_user:{DATABASE_PASSWORD}@173.201.189.217/BiciMAD'
    engineDB = create_engine(connectionDB)
    return engineDB

# get data DB
def get_db(engineDB):
    query = '''
    SELECT * FROM bicimad_stations
    '''
    df =pd.read_sql_query(query, engineDB)
    return df

# get data csv
def get_csv(file):
    df = pd.DataFrame([])
    # if file exists and not empty
    if os.path.isfile(file) and os.path.getsize(file) > 0:
        df = pd.read_csv(file)
    return df

# set longitud and latitud from coordinates
def set_location(df):
    df[['lon_bici','lat_bici']] = df['geometry.coordinates'].str.strip('][').str.split(', ', expand=True)
    return df

def get_bicimad_data(origin):
    if origin == "CSV":
        df = get_csv("../../datasets/bicimad_stations.csv")
    elif origin == "DB":
        engineMySQL = connect_DB()
        df = get_db(engineMySQL)
    # if df not empty
    if not df.empty:
        df = set_location(df)
    return df

In [73]:
df_bicimad = get_bicimad_data("CSV")

#loc_1 = [40.44342, -3.72693]
df_bicimad['distance'] = df_bicimad.apply(lambda d: distance_meters(float(d['lat_bici']), 
                                                                    float(d['lon_bici']), 
                                                                    40.417048, 
                                                                    -3.705529), axis=1 )

df_bicimad.head(5)

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici,distance
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137,412.587760
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562,438.952064
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886,395.676424
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937,1482.612954
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524,1322.032748

In [40]:
# activate == 1
# no_available == 0
#### take bici
#dock_bikes - reservations_count > 0
#### leave bici
#free_bases > 0


#df_min_bicimad = df_bicimad[df_bicimad["distance"] == df_bicimad["distance"].min()]#[["name", "address", "lon_bici", "lat_bici"]]

In [87]:
#### take bici
mask = (df_bicimad["activate"] == 1) & \
       (df_bicimad["no_available"] == 0) & \
       ((df_bicimad["dock_bikes"] - df_bicimad["reservations_count"]) > 0)
print(len(df_bicimad))
print(len(df_bicimad[mask]))
df_mask_take = df_bicimad[mask]

df_min_bicimad_take = df_mask_take[df_mask_take["distance"] == df_mask_take["distance"].min()]#[["name", "address", "lon_bici", "lat_bici"]]
df_min_bicimad_take

264
233

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici,distance
32,36,32 - Plaza de la Provincia,2,32,Plaza de la Provincia nº 1,1,0,18,5,9,2,Point,"[-3.7061032, 40.4150099]",-3.7061032,40.4150099,235.748831

In [88]:
#### leave bici
mask = (df_bicimad["activate"] == 1) & \
       (df_bicimad["no_available"] == 0) & \
       (df_bicimad["free_bases"] > 0)
print(len(df_bicimad))
print(len(df_bicimad[mask]))
df_mask_leave = df_bicimad[mask]

df_min_bicimad_leave = df_mask_leave[df_mask_leave["distance"] == df_mask_leave["distance"].min()]#[["name", "address", "lon_bici", "lat_bici"]]
df_min_bicimad_leave

264
226

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici,distance
32,36,32 - Plaza de la Provincia,2,32,Plaza de la Provincia nº 1,1,0,18,5,9,2,Point,"[-3.7061032, 40.4150099]",-3.7061032,40.4150099,235.748831

In [89]:
df_min_bicimad = df_bicimad[df_bicimad["distance"] == df_bicimad["distance"].min()]#[["name", "address", "lon_bici", "lat_bici"]]
df_min_bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici,distance
24,28,25a - Plaza de Celenque A,3,25a,Plaza de Celenque nº 1,1,1,24,0,0,0,Point,"[-3.7057791, 40.4173703]",-3.7057791,40.4173703,45.449129

In [82]:
mask = (df_bicimad["activate"] == 1) & (df_bicimad["no_available"] == 0)
print(len(df_bicimad))
print(len(df_bicimad[mask]))
df_bicimad[mask]

264
238

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,lon_bici,lat_bici,distance
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937,1482.612954
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524,1322.032748
5,6,5 - Fuencarral,1,5,Calle Fuencarral nº 108,1,0,27,25,0,0,Point,"[-3.70205, 40.42852]",-3.70205,40.42852,1334.724611
8,9,8 - Alonso Martínez,1,8,Plaza de Alonso Martínez nº 5,1,0,24,22,0,0,Point,"[-3.6954403, 40.4278682]",-3.6954403,40.4278682,1648.447130
9,10,9 - Plaza de San Miguel,2,9,Plaza de San Miguel nº 9,1,0,24,10,10,0,Point,"[-3.7095084, 40.4156057]",-3.7095084,40.4156057,472.056936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.72997,40.43896,3658.366318
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.72699,40.44375,3816.675050
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.72693,40.44342,3783.908769
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.7272945,40.4483322,4245.400395
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.72937,40.45109,4629.673789

In [ ]:




df_min_bicimad2 = df_aux[df_bicimad["distance"] == df_bicimad["distance"].min()]#[["name", "address", "lon_bici", "lat_bici"]]
df_min_bicimad2

In [4]:
###
# module find_bicimad.py
###
# functions find nearest BiciMAD


# set distance, add column distance df_bici
def set_distance(df_bici, df_place):
    df_bici['distance'] = df_bici.apply(lambda d: distance_meters(float(d['latitud']), 
                                                                  float(d['longitud']), 
                                                                  df_place["latitude"], 
                                                                  df_place["longitude"]), axis=1 )
    return df_bici

# get bicimad min distance
def get_nearest(df_bici):
    df_result = df_bici[df_bici["distance"] == min(df_bici["distance"])][["name", "address"]]
    return df_result

# get result: selected place + bicimad nearest
def get_bicimad_result(df_place, df_bici):
    # sub df place
    df_place = df_place.reset_index()[["name", "type_place", "address"]].rename(columns={"name": "Place of interest", 
                                                                                         "type_place": "Type of place", 
                                                                                         "address": "Place address"})
    # sub df bicimad
    df_bici = df_bici.reset_index()[["name", "address"]].rename(columns={"name": "BiciMAD station", 
                                                                         "address": "Station location"})
    # join df as result
    df_result = pd.concat([df_place, df_bici], axis=1)
    return df_result

In [6]:
###
# module main.py
###


# selected place
my_interest_place = "Casita - Museo del Ratón Pérez"

# load datasets
places_dataset = load_datasets()

# get place
df_my_place = get_place(my_interest_place, places_dataset)

# if place is found, get bicimad nearest
if not df_my_place.empty:
    # get bicimad (from csv -> at home, from DB -> at ironhack)
    df_bicimad = get_bicimad_data("CSV")
    #df_bicimad = get_bicimad_data("DB")
    ### revisar si df_bicimad is None ******************TODO
    
    if not df_bicimad.empty:
        # calculate distance
        df_bicimad = set_distance(df_bicimad, df_my_place)

        # get bicimad nearest
        df_bicimad_nearest = get_nearest(df_bicimad)

        # get result, place + bicimad nearest
        df_bicimad_result = get_bicimad_result(df_my_place, df_bicimad_nearest)

        display(df_bicimad_result)
    else:
        print(f"BiciMAD data not found")
else:
    print(f"{my_interest_place} not found")

,Place of interest,Type of place,Place address,BiciMAD station,Station location
0,Casita - Museo del Ratón Pérez,Museos de la ciudad de Madrid,CALLE ARENAL 8 PLANTA 1.ª,25a - Plaza de Celenque A,Plaza de Celenque nº 1

In [7]:
# selected place
my_interest_place = "Casita - Museo del Ratón Pérez"


# get BiciMAD nearest from place
def get_bicimad_nearest(df_place, df_bici):
    # calculate distance
    df_bici = set_distance(df_bici, df_place)
    # get bicimad nearest
    df_nearest = get_nearest(df_bici)
    # get result, place + bicimad nearest
    df_bicimad_result = get_bicimad_result(df_place, df_nearest)
    return df_bicimad_result        
            
def main():
    # load datasets
    places_dataset = load_datasets()
    # get place
    df_my_place = get_place(my_interest_place, places_dataset)
    # if place is found, get bicimad nearest
    if not df_my_place.empty:
        # get bicimad (from csv -> at home, from DB -> at ironhack)
        df_bicimad = get_bicimad_data("CSV")
        #df_bicimad = get_bicimad_data("DB")
        if not df_bicimad.empty:
            df_bicimad_result = get_bicimad_nearest(df_my_place, df_bicimad)
            display(df_bicimad_result)
        else:
            print(f"BiciMAD data not found")
    else:
        print(f"{my_interest_place} not found")


main()

,Place of interest,Type of place,Place address,BiciMAD station,Station location
0,Casita - Museo del Ratón Pérez,Museos de la ciudad de Madrid,CALLE ARENAL 8 PLANTA 1.ª,25a - Plaza de Celenque A,Plaza de Celenque nº 1

In [19]:
################################################### DB


# selected place
my_interest_place = "Casita - Museo del Ratón Pérez"


# get BiciMAD nearest from place
def get_bicimad_nearest(df_place, df_bici):
    # calculate distance
    df_bici = set_distance(df_bici, df_place)
    # get bicimad nearest
    df_nearest = get_nearest(df_bici)
    # get result, place + bicimad nearest
    df_bicimad_result = get_bicimad_result(df_place, df_nearest)
    return df_bicimad_result        
            
def main():
    # load datasets
    places_dataset = load_datasets()
    # get place
    df_my_place = get_place(my_interest_place, places_dataset)
    # if place is found, get bicimad nearest
    if not df_my_place.empty:
        # get bicimad (from csv -> at home, from DB -> at ironhack)
        df_bicimad = get_bicimad_data("DB")
        if not df_bicimad.empty:
            print("hay datos")
            df_bicimad_result = get_bicimad_nearest(df_my_place, df_bicimad)
            display(df_bicimad_result)
        else:
            print(f"BiciMAD data not found")
    else:
        print(f"{my_interest_place} not found")


main()

hay datos

,Place of interest,Type of place,Place address,BiciMAD station,Station location
0,Casita - Museo del Ratón Pérez,Museos de la ciudad de Madrid,CALLE ARENAL 8 PLANTA 1.ª,25a - Plaza de Celenque A,Plaza de Celenque nº 1

In [10]:
df_bicimad = get_bicimad_data("DB")
df_bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.72997,40.43896
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.72699,40.44375
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.72693,40.44342
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.7272945,40.4483322
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.72937,40.45109

In [11]:
df_bicimad = get_bicimad_data("CSV")
df_bicimad

,id,name,light,number,address,activate,no_available,total_bases,dock_bikes,free_bases,reservations_count,geometry.type,geometry.coordinates,longitud,latitud
0,1,1a - Puerta del Sol A,3,1a,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,2,1b - Puerta del Sol B,3,1b,Puerta del Sol nº 1,1,1,30,0,0,0,Point,"[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,3,2 - Miguel Moya,3,2,Calle Miguel Moya nº 1,1,1,24,0,0,0,Point,"[-3.7058415, 40.4205886]",-3.7058415,40.4205886
3,4,3 - Plaza Conde Suchil,2,3,Plaza del Conde del Valle de Súchil nº 3,1,0,18,9,9,0,Point,"[-3.7069171, 40.4302937]",-3.7069171,40.4302937
4,5,4 - Malasaña,1,4,Calle Manuela Malasaña nº 5,1,0,24,23,1,0,Point,"[-3.7025875, 40.4285524]",-3.7025875,40.4285524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,265,257 - INEF,0,257,Avenida Juan de Herrera frente a la calle Paul...,1,0,24,3,19,0,Point,"[-3.72997, 40.43896]",-3.72997,40.43896
260,266,258 - Ciudad Universitaria 1,2,258,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,9,14,0,Point,"[-3.72699, 40.44375]",-3.72699,40.44375
261,267,259 - Ciudad Universitaria 2,2,259,Avenida de la Complutense (Metro Ciudad Univer...,1,0,24,12,10,0,Point,"[-3.72693, 40.44342]",-3.72693,40.44342
262,268,260 - Facultad Biología,2,260,Calle José Antonio Novais frente al nº 12,1,0,24,12,10,0,Point,"[-3.7272945, 40.4483322]",-3.7272945,40.4483322
263,269,261 - Facultad Derecho,2,261,Avenida Complutense nº 23,1,0,24,8,16,0,Point,"[-3.72937, 40.45109]",-3.72937,40.45109